<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<title>
		Server Error...
		</title>
	</head>
	<body>
		<h1><b>Internal Server Error </b></h1>
		<br>Please check that the Web site address is spelled correctly
		<br>
		Or go to our <i><a href="/">home page</a></i>
	</body>
	<script src="//code.jquery.com/jquery-1.11.2.min.js" > </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</html>